<nav class="nav col-12">
<div class = "p-2">
<i class="fas fa-people-carry plogo"></i> <br>
</div>

  <ul class="nav-items">
    <li class="nav-item">
     
      <div >
        <%= link_to 'Home', root_path, class: 'drop-item' %>
        <%= link_to 'Logout', logout_path, method: :post, class: 'drop-item' %></br>
        </div>
    </li>
  </ul>
</nav>
