.left {
  min-height: 100vh;
  background-color: var(--dark-cyan);
}

.login-form,
.registration-form {
  margin: 0 auto;
  width: 300px;
  margin-top: 20%;
}

.login-form > form > input[type="text"],
.registration-form > form > input[type="text"] {
  padding: 5px 10px;
  height: 35px;
  border-radius: 25px;
  border: 1px solid var(--dark-cyan);
}

.registration-form > form > input {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

.login-form > form > input[type="text"]::placeholder,
.registration-form > form > input[type="text"]::placeholder {
  color: var(--dark-cyan);
}

.login-form .btn {
  background-color: var(--white);
  color: var(--dark-cyan);
  border: 1px solid var(--dark-cyan);
}

.login-form .btn:hover {
  color: var(--white);
  background-color: var(--dark-cyan);
  border: 1px solid var(--dark-cyan);
}

.register-btn {
  display: block;
  text-align: center;
  margin-top: 25px;
  background-color: var(--dark-cyan) !important;
  color: var(--white) !important;
  height: 40px;
  width: 100%;
}

.tlogo {
  display: block !important;
  width: 128px;
  margin: auto;
  color: var(--dark-cyan);
  font-size: 8em;
  margin-bottom: 50px;
}

.file-input {
  margin-bottom: 15px;
  display: block;
}

.show {
  display: block;
}

.drop-item:hover {
  color: var(--white);
  background-color: var(--dark-cyan);
}
