:root {
  --dark-grey: #1f3025;
  --light-grey: #657b90;
  --dark-cyan: #096e50;
  --light-cyan: #8ecfd1;
  --icons-cyan: #358d9d;
  --background-grey: #f5f6f8;
  --fonts-grey: #acadaf;
  --fonts-dark: #04152f;
  --border: #162731;
  --border-light: #e4e4e4;
  --white: #fff;
  --black: #000;
  --red: #fa3e3e;
  --heavy-grey: #888;
}
