:root {
  --dark-grey: #213246;
  --light-grey: #657b90;
  --dark-cyan: #53a8e9;
  --light-cyan: #4d9cd7;
  --icons-cyan: #184a74;
  --background-grey: #f5f6f8;
  --fonts-grey: #acadaf;
  --fonts-dark: #04152f;
  --border: #162731;
  --border-light: #e4e4e4;
  --white: #fff;
  --black: #000;
  --red: #fa3e3e;
  --heavy-grey: #888;
}
